* {
    box-sizing: border-box;
}

body {
    margin:0px;
    font-family: 'Montserrat', sans-serif;
}

.blocco_menu {
    background-color: forestgreen;
    text-align: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}

nav .menu_items, .menu_items li {
    list-style: none;
    padding:20px;
    padding-bottom: 15px;
    margin: 0;
    display:inline-block;
}

.menu_items li a {
    text-decoration: none;
    color: black; 
    display:inline-block;
}

.menu_items a:hover {
    color: #00d2b5;
}

.button {
    text-decoration: none;
    border: 2px solid #00d2b5;
    border-radius: 22px;
    background-color: #00d2b5;
    color: white;
    padding: 10px;
    position: relative;
    bottom: -15px;
}

.button:hover {
    border: 2px solid #00d2b5;
    border-radius: 22px;
    background-color: white;
    color: #00d2b5;
}

.blocco_ricerca .fa {
    color: #747474;
    padding: 15px;
    background-color: #f3f3f3;
}

#ricerca_news {
    padding: 15px;
    border: none;
    background-color: #f3f3f3;
    width: 30%;
    margin-top: 45px;
}

#ricerca_news:focus {
    outline: none;
}

#submit_news {
    display: none;
}



