* {
    box-sizing: border-box;
}

body {
    margin:0px;
    font-family: 'Montserrat', sans-serif;
}

/* blocco menu comune a tutti */
.blocco_menu {
    background-color: forestgreen;
    text-align: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}

nav .menu_items, .menu_items li {
    list-style: none;
    padding:20px;
    padding-bottom: 15px;
    margin: 0;
    display:inline-block;
    vertical-align: middle;
}

.menu_items li a {
    text-decoration: none;
    color: black; 
    display:inline-block;
}

.menu_items a:hover {
    color: #00d2b5;
}

.menu_items img {
    width: 20%;
}

/* blocco footer comune a tutti */
footer {
    background-color: forestgreen;
}




/* scheda home */
/* blocco banner home */
.banner_home h1 {
    margin: 0px;
    background-image: url('../img/banner/home.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: #FFFFFF;
    font-size: 140%;
    font-weight: normal;
    line-height: 220px;
    padding-left: 5%;
}

.button {
    text-decoration: none;
    border: 2px solid #00d2b5;
    border-radius: 22px;
    background-color: #00d2b5;
    color: white;
    padding: 10px;
    position: relative;
    bottom: -15px;
}

.button:hover {
    border: 2px solid #00d2b5;
    border-radius: 22px;
    background-color: white;
    color: #00d2b5;
}

.blocco_ricerca .fa {
    color: #747474;
    padding: 15px;
    background-color: #f3f3f3;
}

#ricerca_news {
    padding: 15px;
    border: none;
    background-color: #f3f3f3;
    width: 30%;
    margin-top: 45px;
}

#ricerca_news:focus {
    outline: none;
}

#submit_news {
    display: none;
}

/* scheda corsi */
/* blocco banner corsi */
.banner_corsi h1 {
    margin: 0px;
    background-image: url('../img/banner/corsi.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: #FFFFFF;
    background-color: darkblue;
    font-size: 140%;
    font-weight: normal;
    line-height: 220px;
    padding-left: 5%;
}

/* scheda docenti */
/* blocco banner docenti */
.banner_docenti h1 {
    margin: 0px;
    background-image: url('../img/banner/docenti.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: #FFFFFF;
    background-color: darkblue;
    font-size: 140%;
    font-weight: normal;
    line-height: 220px;
    padding-left: 5%;
}

/* scheda chi siamo */
/* blocco banner chi siamo */
.banner_chi_siamo h1 {
    margin: 0px;
    background-image: url('../img/banner/chi_siamo.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: #FFFFFF;
    background-color: darkblue;
    font-size: 140%;
    font-weight: normal;
    line-height: 220px;
    padding-left: 5%;
}

/* scheda dicono di noi */
/* blocco banner dicono di noi */
.banner_dicono h1 {
    margin: 0px;
    background-image: url('../img/banner/dicono.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: #FFFFFF;
    background-color: darkblue;
    font-size: 140%;
    font-weight: normal;
    line-height: 220px;
    padding-left: 5%;
}

/* scheda contattaci */
/* blocco banner contattaci */
.banner_contattaci h1 {
    margin: 0px;
    background-image: url('../img/banner/contattaci.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: #FFFFFF;
    background-color: darkblue;
    font-size: 140%;
    font-weight: normal;
    line-height: 220px;
    padding-left: 5%;

}

